// @ts-ignore
/* eslint-disable */
{{ requestImportStatement }}

{% for api in list -%}
/** {{ api.desc if api.desc else '此处后端没有提供注释' }} {{api.method | upper}} {{ api.pathInComment | safe }} */
export function {{ api.functionName }}(
{%- if api.hasParams %}
  // 叠加生成的Param类型 (非body参数swagger默认没有生成对象)
  params: {
    {%- if api.params.path -%}
    {% for param in api.params.path -%}
    {% if param.description %}/** {{ param.description }} */{% endif %}
    {{ param.name }}{{ "?" if not param.required }}: {{ param.type }};
    {% endfor -%}
    {%- endif -%}
    {%- if api.params.query -%}
    {% for param in api.params.query -%}
    {% if param.description %}/** {{ param.description }} */{% endif %}
    {{ param.name }}{{ "?" if not param.required }}: {{ param.type }};
    {% endfor -%}
    {%- endif -%}
    {%- if api.params.header -%}
    {% for param in api.params.header -%}
    {% if param.description %}/** {{ param.description }} */{% endif %}
    {{ param.name }}{{ "?" if not param.required }}: {{ param.type }};
    {% endfor -%}
    {%- endif -%}
  },
{%- endif %}
{%- if api.body %}
  body{{ "?" if not api.bodyRequired }}: {{ api.body.type }},
{%- endif %}
  options?: { [key: string]: any }
) {
  {% if api.hasParams and api.params.path -%}
  const { {% for param in api.params.path %}{{ param.name }}, {% endfor %} ...queryParams } = params;
  {% endif -%}

  return request<{{ api.responseType }}>({
    url: `{{ api.path | safe }}`,
    method: '{{ api.method | upper }}',
    {%- if api.contentType and not api.bodyInParams %}
    headers: {
      'Content-Type': '{{ api.contentType }}',
    },
    {%- endif %}
    {%- if api.hasParams or api.bodyInParams %}
    params: {
      {%- if api.hasParams %}
      {%- if api.params.path %}
      ...queryParams,
      {%- else %}
      ...params,
      {%- endif %}
      {%- endif %}
      {%- if api.bodyInParams %}
      ...(body || {}),
      {%- endif %}
    },
    {%- endif %}
    {%- if api.body and not api.bodyInParams %}
    data: body,
    {%- endif %}
    ...(options || {}),
  })
}
{% endfor %}
